.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.character-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.character-item {
  width: 80%;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.character-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.character-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.character-likes {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #888;
}

.heart-icon {
  margin-right: 5px;
}

.pagination {
  margin: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.horizontal-separator {
  width: 100%;
  height: 1px;
  background-color: #070505;
  margin: 20px 0;
}

.horizontal-separator-dark {
  width: 100%;
  height: 1px;
  background-color: #333; /* Dark color */
  margin: 20px 0;
}
